.errorSetting {
  background-color: rgb(207, 107, 107);
  border: 3px solid red;
}

.settingContainer {
  width: 500px;
  height: 450px;
  border: 5px solid rgb(75, 173, 199);
  margin: 150px auto 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settingContent {
  width: 400px;
  border: 5px solid rgb(75, 173, 199);
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 230px;
  margin: 30px auto 0;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}

.MaxBlok {
  color: rgb(75, 173, 199);
  font-size: 30px;
  margin-bottom: 20px;
}

.MaxBlok input {
  height: 35px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.StartBlok {
  color: rgb(75, 173, 199);
  font-size: 30px;
}

.StartBlok input {
  height: 35px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.settingBottom {
  height: 100px;
  margin: 50px auto 0;
  justify-content: space-evenly;
  width: 400px;
  border-radius: 15px;
  border: 5px solid rgb(75, 173, 199);
  display: flex;
  align-items: center;
}

.settingBottom button {
  width: 150px;
  height: 40px;
  padding: 5px;
  color: rgb(75, 173, 199);
  font-size: 20px;
  border: 2px solid rgb(75, 173, 199);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
